.hero-input {
    margin: 10px 2px;
    padding:5px;
    background-color: lightgreen
}
.hero-list-wrapper {
    padding: 10px;
    background-color: bisque;
}
.hero-list-wrapper > h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button-section > button {
    display: block
}
.button-section > button.selected {
    background-color: #CFD8DC;
    color: crimson;
}
.button-section > mat-icon {
    margin-left: -5px !important;
}
.details-wrapper {
    border: 1px solid black;
    border-radius: 2%;
    width: 100%;
    height: 0 auto;
}