<div 
    gdAreas="header header | nav nav | side content | footer footer" 
    gdGap="16px" 
    gdRows="auto auto auto auto" 
    gdAreas.lt-md="header | nav | side | content | footer" 
    gdRows.lt-md="auto auto auto auto auto"
>
    <div gdArea="header" fxLayout="column" class="header">
        <h1 style="margin: 0 auto; font-size: 40px; line-height: 60px; ">{{title}}</h1>
    </div>
    <div gdArea="nav" fxLayout="column" class="header">
        <nav class="home-nav">
            <button mat-raised-button routerLink="/dashboard">Dashboard</button>
            <button mat-raised-button routerLink="/heroes">Heroes</button>
        </nav>
    </div>
    <div gdArea="side">
        <mat-card>
            <router-outlet></router-outlet>
        </mat-card>
    </div>
    <div gdArea="content">
        <mat-card>
            <app-messages class="right-column"></app-messages>
        </mat-card>
    </div>
    <div gdArea="footer">
        Footer
    </div>
</div>
