.header {
    justify-content: center;
    align-items: center;
}

/** APP LAYOUT */
.app-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/** HOME NAVIGATION */
.home-nav {
    margin: 0 auto;
}
.home-nav button {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    margin: 0px 5px;
}
.home-nav button:hover {
  color: #039be5;
  background-color: #cfd8dc;
}