<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->


<div class="hero-list-wrapper">
    <h2>List Of Heroes</h2>

    <div class="details-wrapper">
            <h3>Details for 
                <span *ngIf="show">{{selectedHero.name}}</span>
                <span *ngIf="!show">?</span>
            </h3>
            <div >
                id: <span *ngIf="!show">?</span> <span *ngIf="show">{{selectedHero.id}}</span>
            </div>
            <div *ngIf="show" class="hero-input">
                <label>name:
                    <input  [(ngModel)]="selectedHero.name"placeholder="name" />
                </label>
            </div>
    </div>

    Choose a hero below to show details:
    <section class="button-section">
        <button *ngFor="let hero of heroes" mat-stroked-button (click)="onSelect(hero)" color="primary" [class.selected]="hero === selectedHero">
            <mat-icon>menu</mat-icon>
             {{hero.id}} {{hero.name}}
         </button>
    </section>
</div>

<div>
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div>