.hero-input {
    margin: 10px 2px;
    padding:5px;
    background-color: lightgreen
}

.hero-list-wrapper {
    padding: 10px;
    background-color: bisque;
}

.hero-list-wrapper > h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-section > button {
    display: block;
}
.button-section > mat-icon {
    margin-left: -5px !important;
}